@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
    position: relative;
}
.section::before{
    background-color: rgba(0, 0, 0, 0.34);
    content: '';
    position: absolute;
    inset: 0;
    padding: inherit;
    height: 85vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


